<main>
  <h1>User Information</h1>
  <div class="content">
    <app-detail [object]="accountService.account$ | async"></app-detail>
    <label>
      <div>Theme Primary Color: {{ hue.value }}</div>
      <app-hue-selector [formControl]="hue"> </app-hue-selector>
    </label>
    <nav>
      <button class="theme" (click)="colorSchemeService.toggleColorScheme()">
        Set the
        {{
          (colorSchemeService.colorScheme$ | async) === "dark"
            ? "light"
            : "dark"
        }}
        theme
      </button>
      <button class="primary" (click)="logout()">Logout</button>
    </nav>
  </div>
</main>
