<main>
  <h1>Legal stuff</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste hic neque
    nulla nostrum blanditiis earum explicabo. Rem, architecto quae dolorem vero
    obcaecati dicta voluptatum deserunt eos laboriosam. Reiciendis, saepe! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro sint ab
    mollitia voluptas libero, enim quod quam? Ab perspiciatis possimus amet iure
    beatae doloribus dicta obcaecati nulla in unde?
  </p>
</main>
