/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/sanitize.css/sanitize.css";

@import "../node_modules/@jlguenego/angular-tools/src/assets/themes.css";
@import "./scss/button.scss";
@import "./scss/heading.scss";
@import "./scss/main.scss";
@import "./scss/form.scss";
@import "./scss/table.scss";

:root {
  --primary-hue: 0;
}

body {
  min-width: 320px;
  font-family: sans-serif;
  color: var(--gray-0);
  background-color: var(--gray-10);
}
